header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 3;
  top: 0;
  left: 0;
  position: sticky;
  background-color: #292f47;
}
.logo {
  flex-grow: 1;
  padding: 10px 30px;
}
.logo img {
  vertical-align: middle;
}
header nav {
  min-width: 40%;
}
.nav-list {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
header label {
  margin: 10px;
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
label .bar {
  width: 80%;
  height: 5px;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.5s;
}
#hb:checked ~ label {
  justify-content: center;
}
#hb:checked + label .bar-top {
  transform: rotate(-45deg) translateY(6px);
}

#hb:checked + label .bar-mid {
  opacity: 0;
}

#hb:checked + label .bar-btm {
  transform: rotate(45deg) translateY(-6px);
}
#hb {
  display: none;
}
#hb:checked ~ .hb-nav-list {
  max-height: 250px;
  transition: 0.5s;
}
.hb-nav-list {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 10px 0 0 0;
  transition: 0.5s;
}
.hb-nav-list li {
  list-style: none;
}
.hb-nav-list li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 1.25rem;
}
.hb-nav-list li + li {
  border-top: 1px solid #fff;
}
@media (max-width: 1200px) {
  .logo img {
    width: 80px;
  }
  header nav {
    display: none;
  }
  header label {
    display: flex;
  }
}
