/* header */
header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  z-index: 3;
}
.logo {
  flex-grow: 1;
  padding: 10px 30px;
}
.logo img {
  vertical-align: middle;
}
header nav {
  min-width: 40%;
}
.nav-list {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
header label {
  margin: 10px;
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
label .bar {
  width: 80%;
  height: 5px;
  border-radius: 50px;
  background-color: #fff;
}
#hb {
  display: none;
}
#hb:checked ~ .hb-nav-list {
  max-height: 250px;
  transition: max-height 0.5s;
}
.hb-nav-list {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 10px 0 0 0;

  transition: max-height 0.5s;
}
.hb-nav-list li {
  list-style: none;
}
.hb-nav-list li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 1.25rem;
}
.hb-nav-list li + li {
  border-top: 1px solid #fff;
}
@media (max-width: 1200px) {
  header {
    background-color: #292f47;
    position: fixed;
  }
  .logo img {
    width: 80px;
  }
  header nav {
    display: none;
  }
  header label {
    display: flex;
  }
}
/* banner */
#banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #0b1a2f, #0b1a2f00 20%),
    url("../img/Banner_img_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner .container {
  padding: 0;
}
#banner .container h1 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.banner-slogan {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Sen", sans-serif;
}
.banner-slogan span:last-child {
  padding-left: 1rem;
}
@media (max-width: 1024px) {
  #banner .container h1 {
    font-size: clamp(1rem, 7vw, 5rem);
  }
}
/* about-us */
#about-us {
  width: 100%;
}
.about-us-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
}

.about-us-content .pic {
  background-color: #fff;
  max-width: 540px;
}
.about-us-content .pic img {
  vertical-align: middle;
  width: 100%;
  padding: 25px 25px 50px 25px;
}
.about-us-intro {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.about-us-intro .title h3 {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}
.about-us-intro .content p {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
}
.about-us-intro .more-button {
  display: flex;
  justify-content: right;
}
.button a {
  font-family: "Sen";
  border-radius: 5px;
  background-color: #c89951;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-us-content .pic {
    max-width: 360px;
    margin: 0;
  }
  .about-us-intro {
    max-width: 60%;
    margin: 0;
  }
  .about-us-intro .title h3 {
    font-size: 1.5rem;
  }
  .about-us-intro .content p {
    font-size: 1rem;
  }
  .button a {
    font-size: 1rem;
  }
}
/* recent-exhibitions */
#recent-exhibitions {
  width: 100%;
}
.card-link {
  text-decoration: none;
}
.exhibition-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
.exhibition-card-list .card {
  margin: 0 20px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
.card .pic {
  background-color: #fff;
}
.card .pic img {
  width: 100%;
  vertical-align: middle;
  padding: 15px 15px 30px 15px;
}
.exhibition-intro {
  text-align: center;
  color: #fff;
}
.exhibition-intro .title {
  font-size: 1.5rem;
  margin: 10px 0;
  letter-spacing: 0.1rem;
}
.exhibition-intro .date {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 768px) {
  .exhibition-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
}
/* new */
#news {
  width: 100%;
}
.news-content {
  width: 100%;
  border-collapse: collapse;
}
.news-content th,
td {
  font-size: 1.25rem;
  padding: 50px 20px;
  letter-spacing: 0.1rem;
}
.news-content td:last-of-type {
  text-align: center;
}
.news-content tr {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
@media (max-width: 768px) {
  .news-content th,
  td {
    font-size: 1rem;
    padding: 50px 20px;
    letter-spacing: 0.1rem;
  }
}
/* contact-us */
#contact-us {
  width: 100%;
}
.contact-us-form form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.contact-us-form .input {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.contact-us-form form .input-textarea {
  align-items: start;
}
.input label {
  width: 150px;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
.input input {
  height: 40px;
}
.input input:focus {
  outline: none;
}
.input input,
textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  font-size: 1.25rem;
}
.submit-button {
  align-self: flex-end;
}
.submit-button input {
  background-color: #c89951;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .contact-us-form .input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }
  .input label {
    font-size: 1rem;
  }
  .submit-button input {
    font-size: 1rem;
  }
}
