/* header */
header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 3;
  transition: all 0.5s ease;
}
.logo {
  flex-grow: 1;
  padding: 10px 30px;
}
.logo img {
  vertical-align: middle;
}
header nav {
  min-width: 60%;
}
.nav-list {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
.nav-list li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-list li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header label {
  margin: 10px;
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
label .bar {
  width: 80%;
  height: 5px;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.5s;
}
#hb:checked ~ label {
  justify-content: center;
}
#hb:checked ~ label .bar-top {
  transform: rotate(-45deg) translateY(6px);
}

#hb:checked ~ label .bar-mid {
  opacity: 0;
}

#hb:checked ~ label .bar-btm {
  transform: rotate(45deg) translateY(-6px);
}
#hb {
  display: none;
}
#hb:checked ~ .hb-nav-list {
  max-height: 250px;
  transition: max-height 0.5s;
}
.hb-nav-list {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 10px 0 0 0;
  transition: max-height 0.5s;
  display: none;
}
.hb-nav-list li {
  list-style: none;
}
.hb-nav-list li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 1rem;
}
.hb-nav-list li {
  border-top: 1px solid #fff;
}
.hb-nav-list li:last-of-type {
  border-bottom: 1px solid #fff;
}
@media (max-width: 768px) {
  header {
    background-color: #292f47;
    position: fixed;
  }
  .logo img {
    width: 80px;
  }
  header nav {
    display: none;
  }
  header label {
    display: flex;
  }
  .hb-nav-list {
    display: block;
  }
}
/* banner */
#banner {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Banner_img_1.webp"),
    url("../img/Banner_img_2.webp"), url("../img/Banner_img_3.webp"),
    url("../img/Banner_img_4.webp"), url("../img/Banner_img_5.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: changeBackground 10s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
#banner::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #0b1a2f, #0b1a2f00 20%);
}
@keyframes changeBackground {
  0% {
    background-image: url("../img/Banner_img_1.webp");
  }
  20% {
    background-image: url("../img/Banner_img_2.webp");
  }
  40% {
    background-image: url("../img/Banner_img_3.webp");
  }
  60% {
    background-image: url("../img/Banner_img_4.webp");
  }
  80% {
    background-image: url("../img/Banner_img_5.webp");
  }
  100% {
    background-image: url("../img/Banner_img_1.webp");
  }
}
#banner .container {
  padding: 0;
}
#banner .container h1 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-family: "Sen", sans-serif;
  z-index: 2;
}
@media (max-width: 1024px) {
  #banner .container h1 {
    font-size: clamp(20px, 7vw, 80px);
  }
}
/* about-us */
#about-us {
  width: 100%;
}

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
}

.about-us-content .pic {
  background-color: #fff;
  max-width: 440px;
}
.about-us-content .pic img {
  vertical-align: middle;
  width: 100%;
  padding: 25px 25px 50px 25px;
}
.about-us-intro {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.about-us-intro .content p {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
}
.about-us-intro .more-button {
  display: flex;
  justify-content: right;
}
.button a {
  font-family: "Sen";
  border-radius: 5px;
  background-color: #c89951;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  transition: all 0.5s ease;
}
.button a:hover {
  scale: 1.1;
}

@media (max-width: 768px) {
  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-us-content .pic {
    max-width: 90%;
    margin: 0;
  }
  .about-us-intro {
    max-width: 80%;
    margin: 0;
  }
}
/* recent-exhibitions */
#recent-exhibitions {
  width: 100%;
}
.card-link {
  text-decoration: none;
}

.card:hover .exhibition-intro .title:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card .pic {
  background-color: #fff;
}
.card .pic img {
  width: 100%;
  vertical-align: middle;
  padding: 15px 15px 30px 15px;
}
.exhibition-intro {
  text-align: center;
  color: #fff;
}
.exhibition-intro .title {
  font-size: 1.5rem;
  margin: 10px 0;
  letter-spacing: 0.1rem;
}
.exhibition-intro .title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.exhibition-intro .date {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 768px) {
  .exhibition-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
  .owl-item {
    padding: 0 25px;
  }
}
/* new */
#news {
  width: 100%;
}
.news-list .news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  border-top: 1px solid #fff;
  padding: 40px 0;
}
.news .news-type {
  font-weight: 700;
  border: 1px solid #fff;
  padding: 10px 15px;
  border-radius: 3px;
}
.news-list .news:last-child {
  border-bottom: 1px solid #fff;
}
.news-group {
  display: flex;
  column-gap: 60px;
  align-items: center;
}

.news .new-brief-intro p {
  margin: 0;
}
#news .button {
  transition: all 0.5s ease;
}
#news .button:hover {
  scale: 1.1;
}
@media (max-width: 768px) {
  .news-content {
    width: 90%;
    margin: auto;
  }
  .news-list .news-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;
  }
  .news-list .news {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
}
/* new */
/* #news {
  width: 100%;
}
.news-content {
  width: 100%;
  border-collapse: collapse;
}
.news-content th,
td {
  font-size: 1.25rem;
  padding: 50px 20px;
  letter-spacing: 0.1rem;
}
.news-content td:last-of-type {
  text-align: center;
}
.news-content tr {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media (max-width: 768px) {
  .news-content {
    width: 90%;
    margin: auto;
  }
} */
/* contact-us */
#contact-us {
  width: 100%;
}
.contact-us-form form {
  display: flex;
  flex-direction: column;
}
.contact-us-form .input {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.contact-us-form span {
  font-size: 1.25rem;
  display: none;
}
.contact-us-form form .input-textarea {
  align-items: start;
}
.input label {
  width: 150px;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
.input input {
  height: 40px;
}
.input input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
.input input,
textarea {
  padding: 10px 5px;
  width: 100%;
  resize: none;
  border-radius: 5px;
  font-size: 1.25rem;
}
input::placeholder,
textarea::placeholder {
  color: #0006;
}
.submit-button {
  display: flex;
  justify-content: end;
}
.submit-button button {
  background-color: #c89951;
  border: none;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  transition: all 0.5s ease;
}
.submit-button button:hover {
  scale: 1.1;
}
@media (max-width: 768px) {
  .contact-us-form .input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }
  .contact-us-form form {
    width: 90%;
    margin: auto;
  }
  .submit-button {
    width: 90%;
    margin: auto;
  }
}
/* .mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #292f47;
  padding: 20px;
  border-radius: 5px;
  z-index: 10;
  text-align: center;
}

.pop-up .warning {
  font-size: 1.25rem;
}
.pop-up button {
  padding: 10px 15px;
  background-color: #c89951;
  color: white;
  border-radius: 5px;
  margin: auto;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pop-up button:hover {
  scale: 1.1;
}
.confirm-btns {
  display: flex;
  justify-content: space-evenly;
}
.confirm-btns .cancel {
  background-color: #0b1a2f;
} */
