/* outstanding */
#outstanding {
  width: 100%;
}
.photographer-list {
  display: flex;
  margin: 50px 0;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 100px;
}
.photographer-card .pic {
  background-color: #fff;
}
.photographer-card .pic img {
  vertical-align: middle;
  width: 100%;
  padding: 15px 15px 30px 15px;
}
.photographer-card a {
  text-decoration: none;
}
.photographer-card:hover .name-content h3:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.name-content {
  color: #fff;
}
.name-content h3 {
  padding: 10px 0;
  margin: 0;
}
.name-content h3:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.name-content p {
  font-size: 1.25rem;
  margin: 0;
  padding: 10px 0;
  letter-spacing: 0.1rem;
}
/* newbie */
#newbie {
  width: 100%;
}
.photographer-2-list {
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .photographer-list {
    margin: 0;
  }
  .photographer-card {
    width: 90%;
  }
  .photographer-3-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .photographer-2-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
  }
}
