/* exhibition */
#exhibition {
  width: 100%;
}
.banner .pic img {
  width: 100%;
}
.exhibition-intro-content {
  display: flex;
  flex-direction: column;
}
.exhibition-detail-content {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
h2 {
  margin: 10px 0;
}
h3 {
  margin: 10px 0;
}
p {
  font-size: 1.25rem;
}
a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .exhibition-detail-content {
    display: flex;
    flex-direction: column;
  }
  .exhibition-intro {
    width: 90%;
    margin: auto;
  }
}
/* ticket-buying */
#ticket-buying {
  width: 100%;
}
.buying-step {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292f47;
  border-radius: 5px;
  width: 200px;
  height: 70px;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.25rem;
}
.current-step {
  background-color: #c89951;
}
.buying-area {
  padding: 50px 0;
}
.area-flex {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 20px;
  border-bottom: 1px solid #fff;
}
.area-title {
  font-weight: 700;
}
.area-title,
.area-total {
  background-color: #292f47;
}
.buying-area .type {
  width: 100px;
}
.buying-area .price {
  width: 150px;
}
.buying-area .quantity {
  text-align: center;
  width: 200px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.buying-area input {
  width: 40px;
  text-align: center;
  font-size: 1.25rem;
}
.buying-area input:focus {
  outline: none;
}
.buying-area button {
  background-color: #c89951;
  width: 30px;
  height: 28px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
}
/* table {
  margin: 30px 0;
  width: 100%;
  border-collapse: collapse;
}
table tr {
  width: 100%;
  border-bottom: 1px solid #fff;
}
table tr:first-of-type {
  background-color: #292f47;
}
table .ticket-price {
  width: 45%;
}
table .ticket-type {
  width: 15%;
  text-align: left;
}
table .ticket-quantity {
  width: 40%;
  text-align: right;
}
table th.ticket-price {
  text-align: left;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.buying-table input {
  width: 50px;
  text-align: center;
}
input:focus {
  outline: none;
}
table td,
th {
  padding: 15px;
  font-size: 1.25rem;
}
table button {
  background-color: #c89951;
  width: 30px;
  height: 28px;
  border: none;
  color: #fff;
  cursor: pointer;
} */
.button {
  display: flex;
  justify-content: end;
}
.button:hover button,
.button:hover input[type="submit"] {
  transform: scale(1.1);
}
.button button,
.button input[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 5px;
  background-color: #c89951;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
#ticket-buying {
  display: block;
}
@media (max-width: 768px) {
  .buying-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .buying-area {
    width: 90%;
    margin: auto;
  }
  .buying-area button {
    height: 23.25px;
    width: 20px;
  }
  .step {
    width: 150px;
    height: 50px;
  }
  .next-step-button {
    width: 90%;
  }
}
/* ticket-fill-info */
#ticket-fill-info {
  display: none;
}
.buying-info-area {
  padding: 50px 0;
}
.buying-info-area .area-flex:last-of-type {
  border: none;
}
.buying-info-area .type {
  width: 100px;
}
.buying-info-area .quantity {
  width: 150px;
  text-align: center;
}
.buying-info-area .price {
  width: 150px;
  text-align: center;
}
/* .buying-table-info table {
  width: 100%;
}
.buying-table-info table tr:nth-of-type(5) {
  background-color: #292f47;
  border-bottom: none;
}
.buying-table-info table .next-step-ticket-price {
  width: 60%;
}
.buying-table-info table .next-step-ticket-type {
  width: 10%;
  text-align: left;
}
.buying-table-info table .next-step-ticket-quantity {
  width: 60%;
  text-align: left;
}
.buying-table-info table .next-step-ticket-price,
.next-step-total-price {
  text-align: right;
} */
.fill-info {
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.step-button {
  display: flex;
  width: 90%;
  justify-content: end;
  column-gap: 50px;
  padding: 20px 0 0 0;
}
.form {
  border: 1px solid #fff5;
  background-color: #292f47;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  max-height: 350px;
  align-content: center;
}

.fill-info .input {
  display: flex;
  align-items: center;
}
.fill-info .input label {
  width: 200px;
  font-size: 1.25rem;
}
.fill-info .input input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 1.25rem;
}
.fill-info .input input::placeholder {
  color: #0006;
}
.button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 5px;
  background-color: #c89951;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .buying-info-area {
    width: 90%;
    margin: auto;
  }
  .fill-info {
    width: 90%;
    margin: auto;
  }
  .step-button {
    justify-content: center;
  }
  .fill-info .input {
    flex-direction: column;
  }
  .form {
    max-height: 1000px;
  }
  .buying-info-area .type {
    width: 50px;
  }
  .buying-info-area .price {
    width: 50px;
  }
  .buying-info-area .quantity {
    width: 50px;
  }
}
